body {
	margin:0;
	padding:0;
	background-color:#2d2d2b;
	color:#939393;
}

.heroicon{
	padding: 5px;
}

.btn1{
	display: inline-grid;
	width: 500px;
	height: 80px;
}
header{
	text-align: center;
}
.one_square{
	margin: 20px;
}

.data1{
	text-align: center;
}